* {
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.logo {
  width: 60px;
  height: auto;
}

.app-name {
  font-size: 25px;
}

header {
  justify-content: space-between;
  border-bottom: 1px solid rgb(222, 222, 222);
  margin: 0 24px;
  padding-bottom: 18px;
}

.head {
  align-items: center;
  gap: 8px;
}

.nav-list {
  list-style: none;
  text-decoration: none;
  gap: 20px;
  padding-top: 10px;
}

.profile-link {
  border-left: 2px solid rgb(222, 222, 222);
  padding-left: 20px;
}
