.profile-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  gap: 20px;
  padding: 20px 90px;
}

.rocket-reserved-list {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.rocket-reserved-list li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
